<style>
    table td {
        border: 1px solid black;
        padding: 4px 12px;
    }
</style>
@{
ViewData["Title"] = "System.Windows.Forms.TextBox, Text: M_Assembly_Tagging";
}
<div class="row">
		@Html.AntiForgeryToken()
			@*Write code here*@
</div><div>
    <ul class="nav nav-tabs nav-fill" role="tablist">
        <a class="nav-item nav-link active" asp-controller="Master" asp-action="M_Assembly_Tagging">Add</a>
        <a class="nav-item nav-link" asp-controller="Master" asp-action=ViewM_Assembly_Tagging>View</a>
    </ul>
</div>
<br />
<br />
<br />
<form id="form">

	<div class="form-group row" id="districtIdDiv">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label"  id="districtIdLabel" for="demo-text-input">districtId<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
<input type="text" id="districtId" name="districtId" class="form-control">
			</div>
	</div>
	<div class="form-group row" id="assemblyIdDiv">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label"  id="assemblyIdLabel" for="demo-text-input">assemblyId<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
<input type="text" id="assemblyId" name="assemblyId" class="form-control">
			</div>
	</div>
	<div class="form-group row" id="blockIdDiv">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label"  id="blockIdLabel" for="demo-text-input">blockId<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
<input type="text" id="blockId" name="blockId" class="form-control">
			</div>
	</div>
	<div class="form-group">
		<label class="col-12 col-md-2 col-xl-2 control-label" for="demo-text-input"></label>
<br/>
		<div class="col-12 col-md-8 col-xl-12">
<input type="button" value="Submit" id="btn_Submit" class="btn btn-primary" onclick="Save_M_Assembly_Tagging()"/>
		</div>
	</div>
<input id="hdnM_Assembly_Tagging" type="hidden" value="0" />
</form>
	
	<script>
$(document).ready(function () {
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = decodeURIComponent(value);
            });
            return vars;
        }
        var id = getUrlVars()["strid"];

        if (id != undefined || id != null) {
            Edit_M_Assembly_Tagging(decryptData(id));
         }

@*write function_call code here on page load*@

    });
 function decryptData(encryptedData) {
        // Decrypt the encrypted data using CryptoJS
        var bytes = CryptoJS.AES.decrypt(encryptedData, 'secret_key');
        var decryptedData = JSON.parse(bytes.toString(CryptoJS.enc.Utf8));

        // Return the decrypted ID
        return decryptedData.data;
    }

function Edit_M_Assembly_Tagging(id) {
        $.ajax({
            type: "Get",
            dataType: "json",
            url: '@Url.Action("GetByID_M_Assembly_Tagging", "Master")',
            data: { "Id": id },
            success: function (Result) {
                var data1 = JSON.parse(Result);
   $("#hdnM_Assembly_Tagging").val(data1.taggingId);
             $('#districtId').val(data1.districtId);
					$('#assemblyId').val(data1.assemblyId);
					$('#blockId').val(data1.blockId);
					
            },
            error: function (Message) {
                alert(Message);
            }
        });
    }        $("#form").validate({
            rules: {
                districtId: {
                    required: true
},
assemblyId: {
                    required: true
},
blockId: {
                    required: true
},
            },
            messages: {
                districtId: {
                    required: "Please enter districtId"
                 },
                assemblyId: {
                    required: "Please enter assemblyId"
                 },
                blockId: {
                    required: "Please enter blockId"
                 },
                
           },
            	
            highlight: function (element) {	
                $(element).removeClass("is-valid")		
                $(element).parent().addClass('error')		
                $(element).addClass("is-invalid")	
            },	
            unhighlight: function (element) {	
                $(element).parent().removeClass('error')	
                $(element).removeClass("is-invalid");	
                $(element).addClass("is-valid")	
            }	
        });

			function Save_M_Assembly_Tagging() {
			if ($("#form").valid()) {
					
					var M_Assembly_Tagging ={ 
			
					 taggingId:$('#hdnM_Assembly_Tagging').val(),
districtId:$("#districtId").val(),
					assemblyId:$("#assemblyId").val(),
					blockId:$("#blockId").val(),
					
				};
			$.ajax({
				type: "POST",
				url: "/Master/M_Assembly_Tagging",
			beforeSend: function (xhr) {
					xhr.setRequestHeader("XSRF-TOKEN",
						$('input:hidden[name="__RequestVerificationToken"]').val());
				},
			data:M_Assembly_Tagging,
			content: 'application/json;charset=utf-8',
			dataType: "json",
			success: function (result) {
						Swal.fire({
							icon: 'success',
							title: result.responseText,
							text: result.responseMessage,
						}).then((result) => {
							if (result.isConfirmed) {
								location.href ="/Master/ViewM_Assembly_Tagging";
							}
						})
			},
			error: function (result) {
						Swal.fire({
							icon: 'error',
							title: result.responseText,
							text: result.responseMessage,
						});
					}, 
			});
			}
		}
	</script>