<style>
    table td {
        border: 1px solid black;
        padding: 4px 12px;
    }
</style>
@{
ViewData["Title"] = "System.Windows.Forms.TextBox, Text: M_Scheme_Master";
}
<div class="row">
		@Html.AntiForgeryToken()
			@*Write code here*@
</div><div>
    <ul class="nav nav-tabs nav-fill" role="tablist">
        <a class="nav-item nav-link active" asp-controller="Master" asp-action="M_Scheme_Master">Add</a>
        <a class="nav-item nav-link" asp-controller="Master" asp-action=ViewM_Scheme_Master>View</a>
    </ul>
</div>
<br />
<br />
<br />
<form id="form">

	<div class="form-group row" id="SchemeNameDiv">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label"  id="SchemeNameLabel" for="demo-text-input">SchemeName<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
<input type="text" id="SchemeName" name="SchemeName" class="form-control">
			</div>
	</div>
	<div class="form-group row" id="schemeDescDiv">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label"  id="schemeDescLabel" for="demo-text-input">schemeDesc<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
<input type="text" id="schemeDesc" name="schemeDesc" class="form-control">
			</div>
	</div>
	<div class="form-group">
		<label class="col-12 col-md-2 col-xl-2 control-label" for="demo-text-input"></label>
<br/>
		<div class="col-12 col-md-8 col-xl-12">
<input type="button" value="Submit" id="btn_Submit" class="btn btn-primary" onclick="Save_M_Scheme_Master()"/>
		</div>
	</div>
<input id="hdnM_Scheme_Master" type="hidden" value="0" />
</form>
	
	<script>
$(document).ready(function () {
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = decodeURIComponent(value);
            });
            return vars;
        }
        var id = getUrlVars()["strid"];

        if (id != undefined || id != null) {
            Edit_M_Scheme_Master(decryptData(id));
         }

@*write function_call code here on page load*@

    });
 function decryptData(encryptedData) {
        // Decrypt the encrypted data using CryptoJS
        var bytes = CryptoJS.AES.decrypt(encryptedData, 'secret_key');
        var decryptedData = JSON.parse(bytes.toString(CryptoJS.enc.Utf8));

        // Return the decrypted ID
        return decryptedData.data;
    }

function Edit_M_Scheme_Master(id) {
        $.ajax({
            type: "Get",
            dataType: "json",
            url: '@Url.Action("GetByID_M_Scheme_Master", "Master")',
            data: { "Id": id },
            success: function (Result) {
                var data1 = JSON.parse(Result);
   $("#hdnM_Scheme_Master").val(data1.schemeId);
             $('#SchemeName').val(data1.SchemeName);
					$('#schemeDesc').val(data1.schemeDesc);
					
            },
            error: function (Message) {
                alert(Message);
            }
        });
    }        $("#form").validate({
            rules: {
                SchemeName: {
                    required: true
},
schemeDesc: {
                    required: true
},
            },
            messages: {
                SchemeName: {
                    required: "Please enter SchemeName"
                 },
                schemeDesc: {
                    required: "Please enter schemeDesc"
                 },
                
           },
            	
            highlight: function (element) {	
                $(element).removeClass("is-valid")		
                $(element).parent().addClass('error')		
                $(element).addClass("is-invalid")	
            },	
            unhighlight: function (element) {	
                $(element).parent().removeClass('error')	
                $(element).removeClass("is-invalid");	
                $(element).addClass("is-valid")	
            }	
        });

			function Save_M_Scheme_Master() {
			if ($("#form").valid()) {
					
					var M_Scheme_Master ={ 
			
					 schemeId:$('#hdnM_Scheme_Master').val(),
SchemeName:$("#SchemeName").val(),
					schemeDesc:$("#schemeDesc").val(),
					
				};
			$.ajax({
				type: "POST",
				url: "/Master/M_Scheme_Master",
			beforeSend: function (xhr) {
					xhr.setRequestHeader("XSRF-TOKEN",
						$('input:hidden[name="__RequestVerificationToken"]').val());
				},
			data:M_Scheme_Master,
			content: 'application/json;charset=utf-8',
			dataType: "json",
			success: function (result) {
						Swal.fire({
							icon: 'success',
							title: result.responseText,
							text: result.responseMessage,
						}).then((result) => {
							if (result.isConfirmed) {
								location.href ="/Master/ViewM_Scheme_Master";
							}
						})
			},
			error: function (result) {
						Swal.fire({
							icon: 'error',
							title: result.responseText,
							text: result.responseMessage,
						});
					}, 
			});
			}
		}
	</script>