@{
    ViewData["Title"] = "Generate Letter";

}
<div class="page-body">
    <!-- breadcrumb section -->
    <div class="d-flex align-items-center justify-content-between mb-4 flex-wrap gap-3">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#!" title="Home"><i class="bi bi-house"></i></a></li>
                <li class="breadcrumb-item active" title="Generate Letter" aria-current="page"> Generate Letter </li>
            </ul>
        </nav>
        <div class="col-right">
            <button type="button" class="btn btn-outline-secondary btn-sm" title="Download" data-bs-toggle="tooltip">
                <i class="bi bi-download"></i>
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm" title="Edit Document" data-bs-toggle="tooltip">
                <i class="buidcoicon-edit"></i>
            </button>
        </div>
    </div>
    <!-- breadcrumb section -->
    <!-- inner body section -->
    <div class="body__content">
        <div class="body__bg">
            <div class="row">
                <input type="hidden" id="hdnProposalid"  />
                <div class="col-xl-7 col-lg-7 col-md-12 col-12" id="divletter">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="table-responsive">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="padding:3px;border-collapse: collapse; background-color:#fff;">
                                    <tr>
                                        <td colspan="2" style="border-bottom:1px solid #ddd; padding: 1rem 0.6rem; font-size:1rem;">
                                            <div style="display: flex;justify-content: center;align-items: center;gap: 10px; text-align: center; font-size: 1.2rem;font-weight: 600;">
                                                कार्यपालक अभियंता, स्थानीय क्षेत्र अभियंत्रण संगठन, कार्य प्रमंडल- Hajipur
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <div style="font-weight: 600; float:left; width: 50%;"> पत्रांक : </div>
                                                <div style="font-weight: 600; float:left; width: 50%;"> दिनांक :</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:10%;">
                                                <span style="font-weight: 600;"> प्रेषक : </span>
                                            </td>
                                            <td style="width:90%;">
                                                <p style="margin-top: 1rem;">
                                                    <span style="display: block;"> कार्यपालक अभियंता </span>
                                                    <span style="display: block;"> स्थानीय क्षेत्र अभियंत्रण संगठन </span>
                                                    <span style="display: block;"> कार्य प्रमंडल Hajipur </span>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:10%;">
                                                <span style="font-weight: 600;"> सेवा में, </span>
                                            </td>
                                            <td style="width:90%;">
                                                <p style="margin-top: 1rem;">
                                                    <span style="display: block;"> जिला योजना पदाधिकारी </span>
                                                    <span style="display: block;"> Vaishali </span>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:10%;">
                                                <span style="font-weight: 600;"> विषय, </span>
                                            </td>
                                            <td style="width:90%;">
                                                <p>
                                                    <span> माननीय सदस्य Pro. Sanjay Kumar Singh द्वारा दिये गये अनुशंसा के आलोक में तकनीकी अनुमोदन देने के संबंध में। </span>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:10%;">
                                                <span style="font-weight: 600;"> प्रसंग : </span>
                                            </td>
                                            <td style="width:90%;">
                                                <p>
                                                    <span> आपका पत्रांक- 392, दिनांक 31-May-2023 </span>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:10%;">
                                                <span style="font-weight: 600;"> महाशय : </span>
                                            </td>
                                            <td style="width:90%;">
                                                <p>
                                                    <span> उपरोक्त प्रासंगिक पत्र द्वारा भेजे गये अनुशंसा के आलोक में योजनाओं का तकनीकी अनुमोदन प्रदान करते हुए प्रशासनिक स्वीकृति हेतु भेजा जाता है </span>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <span style="font-weight: 600;"> अनुO : </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div style="float:right; text-align:left;">
                                                    <p style="font-weight:600; margin-bottom:25px;"> बिधायसभाजन</p>
                                                    <p style="font-weight:600; margin-bottom:10px;"> कार्यपालक अभियंता </p>
                                                    <p style="font-weight:600; margin-bottom:10px;"> स्थानीय क्षेत्र अभियंत्रण संगठन </p>
                                                    <p style="font-weight:600; margin-bottom:10px;"> कार्य प्रमंडल Hajipur </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body generate__content p-4">
                            <h4 class="text-primary"> Generate Letter </h4>
                            <div class="description">
                                <p class="mb-2"> From, </p>
                                <p> Pro. Sanjay Kumar Singh </p>
                                <small> MLC, Hajipur </small>
                            </div>
                            <div class="description">
                                <p class="mb-2"> To, </p>
                                <p> District Yojana Department, </p>
                                <small> Land Officer, Vaishali </small>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 lg__btn mt-4">
                                <button type="button" class="btn btn-light-danger me-3"> Reset </button>
                                <button type="button" class="btn btn-primary" id="submitBtn"> Submit </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/forms/encryptdecrypt.js"></script>
    <script>
        $(document).ready(function () {
            debugger;
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = decodeURIComponent(value);
            });
            return vars;
        }
        var id = getUrlVars()["Id"];
            if (id != undefined || id != null) {
                $("#hdnProposalid").val(decryptData(id));
            }
        });
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }
        document.getElementById("submitBtn").addEventListener("click", function () {
            var htmlContent = $("#divletter").prop('outerHTML');
            debugger;
            var proposalId = $("#hdnProposalid").val();
            let dynamicMsg;
            dynamicMsg = "Generate";
            //}
            Swal.fire({
                title: 'Are you sure to Generate Letter?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, ' + dynamicMsg + ' it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GeneratePDF", "TechnicalApproval")",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: JSON.stringify({ proposalId: proposalId, htmlContent: htmlContent }),
                        contentType: "application/json",
                        success: function (result) {
                            Swal.fire({
                                icon: result.sucess ? 'success' : 'error',
                                title: result.responseText,
                                text: result.responseMessage,
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.href = "@Url.Action("TechnicalApproval", "TechnicalApproval")";
                                }
                            })
                        },
                        error: function (result) {
                            Swal.fire({
                                icon: result.responseText,
                                title: result.responseText,
                                text: result.responseMessage,
                            });
                        },
                    });

                }
                return false;
            })



        });

    </script>
    <!-- inner body section -->
    @*<script>
            document.getElementById('submitBtn').addEventListener('click', function() {
              Swal.fire({
                icon: 'success',
                title: '',
                text: 'Letter Generated Successfully.',
                confirmButtonText: 'Back To Home'
              });
            });
        </script>*@

</div>
