@{
ViewData["Title"] = "Particular Details";
}
<div class="page-body">
   <!-- breadcrumb section -->
   <div class="d-flex align-items-center justify-content-between mb-4 flex-wrap gap-3">
      <nav aria-label="breadcrumb">
         <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Dashboard/DashboardLanding" title="Home"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item"><a href="#" title="BOQ"> BOQ </a></li>
            <li class="breadcrumb-item active" title="BOQ Particulars" aria-current="page"> BOQ Particulars </li>
         </ul>
      </nav>
      <div class="col-right">
         <button type="button" class="btn btn-outline-success btn-sm" title="Excel" data-bs-toggle="tooltip">
         <i class="buidcoicon-excel"></i>
         </button>
         <button type="button" class="btn btn-outline-primary btn-sm" title="Print Preview"
            data-bs-toggle="tooltip">
         <i class="bi bi-printer"></i>
         </button>
      </div>
   </div>
   <!-- breadcrumb section -->
   <!-- inner body section -->
   <div class="body__content">
      <div class="body__bg">
         <div class="card">
            <div class="card-body">
               <div class="row">
                  <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-12 mb-3 mb-xl-0 mb-lg-0 mb-md-0">
                     <h5 class="mb-3"> letter Details  </h5>
                     <div class="badge bg-yellow mb-3">
                        <div class="fw-600"> <span class="text-secondary fw-normal"> Letter No : </span> 212/23 </div>
                     </div>
                     <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-2">
                        <small class="text-secondary d-block"> Submitted By : </small>
                        <p class="m-0"> Department </p>
                     </div>
                     <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <small class="text-secondary d-block"> Proposed By : </small>
                        <p class="m-0"> Md Farooq </p>
                     </div>
                  </div>
                  <div class="col-xxl-7 col-xl-7 col-lg-6 col-md-9 col-12 mb-3 mb-xl-0 mb-lg-0 mb-md-0">
                     <h5 class="mb-3"> Project Details  </h5>
                     <div class="mb-1"> 
                        <a href="#" class="fw-600 text-primary">
                        23144877128239
                        </a>
                     </div>
                     <p>
                        Sheohar Prakhand ke mathurapur kahtarawa panchayat antragat gram basahiya ram ward no
                        16 se sate chiknauta mauja me bal sundar nadi ke tat par shesh 70 feet sidhi ghat ka
                        nirman
                     </p>
                     <div class="row">
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
                           <div class="form-group border-right">
                              <small class="mb-1 text-secondary">  Construction Area (Sq. Mtr)  </small>
                              <div class="description">
                                 214.23
                              </div>
                           </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
                           <div class="form-group border-right">
                              <small class="mb-1 text-secondary">  Length (Mtr.):  </small>
                              <div class="description">
                                 152.2
                              </div>
                           </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
                           <div class="form-group">
                              <small class="mb-1 text-secondary">  Estimated Amount </small>
                              <div class="description">
                                 ₹ 7,99,300
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-12 mb-3 mb-xl-0 mb-lg-0 mb-md-0">
                     <h5 class="mb-3"> Tender Details  </h5>
                     <div class="row mt-2 mb-3">
                        <div class="col-xl-6 col-md-6 col-6 border-end">
                           <small class="text-secondary"> Opening </small>
                           <p class="m-0"> 15-Jun-2024 </p>
                        </div>
                        <div class="col-xl-6 col-md-6 col-6">
                           <small class="text-secondary"> Last Submission </small>
                           <p class="m-0"> 30-Jun-2024 </p>
                        </div>
                     </div>
                     <div class="col-xl-12">
                        <a href="#" class="description">  <i class="bi bi-file-earmark-pdf me-1 text-danger"> </i> NIT Document.pdf </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <h5 class="fw-500 mb-3 mt-3"> BOQ Particulars Details  </h5>

         
         <div class="d-flex align-items-center column-gap-3 flex-wrap">
                <div class="form-group border-right pe-4">
                    <small class="mb-1 text-secondary">  Component Name  </small>
                    <div class="description">
                        Complete Job OHR /Master Reservior
                    </div>
                </div>

                 <div class="form-group">
                    <small class="mb-1 text-secondary">  Sub-Component Name   </small>
                    <div class="description">
                        Zone 1
                    </div>
                </div>


         </div>


         <div class="table-responsive">
            <table class="table table-striped m-0">
               <thead>
                  <tr>
                     <th rowspan="2" width="30"> Sl# </th>
                     <th rowspan="2" width="150"> Particulars Type </th>
                     <th rowspan="2" width="150"> Particulars Name </th>
                     <th colspan="4" width="100" class="border-after"> Details of Actual Measure </th>
                     <th rowspan="2" width="150"> Contents of Area </th>
                     <th rowspan="2" width="120"> Action </th>
                  </tr>


                  <tr>
                    <th width="100"> NO.  </th>
                    <th width="100"> Length  </th>
                    <th width="100"> Breadth  </th>
                    <th width="100"> Depth  </th>
                  </tr>

               </thead>

               <tbody>

                  <tr>
                     <td> 1 </td>
                     <td> Construction </td>

                     <td> 748R1 </td>

                        <td> 2 </td>
                        <td> 5.5 </td>
                        <td> 4.1 </td>
                        <td> 0.2 </td>

                      <td> 1,432  </td>

                     <td>
                           <div class="table__icon">
                              <a class="text-primary" href="#!" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit">
                                <i class="buidcoicon-edit"></i>
                              </a>
                              <a href="#!" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete">
                                 <i class="buidcoicon-delete text-danger"></i>
                              </a>
                           </div>
                     </td>
                  </tr>

                  <tr>
                     <td> 2 </td>
                     <td> Construction </td>

                     <td> 748R2 </td>

                        <td> 2 </td>
                        <td> 5.5 </td>
                        <td> 4.1 </td>
                        <td> 0.2 </td>

                      <td> 1,432  </td>

                     <td>
                           <div class="table__icon">
                              <a class="text-primary" href="#!" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit">
                                <i class="buidcoicon-edit"></i>
                              </a>
                              <a href="#!" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete">
                                 <i class="buidcoicon-delete text-danger"></i>
                              </a>
                           </div>
                     </td>
                  </tr>

                    <tr>
                     <td> 3 </td>
                     <td> Construction </td>

                     <td> 748R3 </td>

                        <td> 3 </td>
                        <td> 10.5 </td>
                        <td> 25.1 </td>
                        <td> 0.5 </td>

                      <td> 1,4451  </td>

                     <td>
                           <div class="table__icon">
                              <a class="text-primary" href="#!" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit">
                                <i class="buidcoicon-edit"></i>
                              </a>
                              <a href="#!" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete">
                                 <i class="buidcoicon-delete text-danger"></i>
                              </a>
                           </div>
                     </td>
                  </tr>

               </tbody>
              
            </table>
         </div>
      </div>
   </div>
   <!-- inner body section -->
</div>
