@model BUIDCO.Domain.AdminConsole.User_Management.User
@{
    Layout = "~/Areas/AdminConsole/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ChangePassword";
}
@section Scripts{

    <script language="javascript" type="text/javascript">
        function checkPassword(str) {
            var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
            return re.test(str);
        }
        function validate() {
            if ($('#txtPwd').val() == '') {
                alert('Please enter New Password!');
                $('#txtPwd').focus();
                return false;
            }
            else if ($('#txtConPwd').val() == '') {
                alert('Please enter Confirm Password!');
                $('#txtConPwd').focus();
                return false;
            }
            else if ($('#txtPwd').val() != $('#txtConPwd').val()) {
                alert("New Password and confirm password do not match!");
                $('#txtConPwd').focus();
                return false;
            }
            else if ($('#txtPwd').val().length < 8) {
                alert("Password min 8 char!");
                $('#txtPwd').focus();
                return false;
            }
            else if (!checkPassword($('#txtPwd').val())) {
                alert('Password must contain at least one lowercase letter,one uppercase letter,one number,one special character!');
                $('#txtPwd').focus();
                return false;
            }
            else {
                return true;
            }


        }
        $('#btnSubmit').click(function () {
            if (validate()) {
                if (confirm('Are you sure want to submit?')) {
                    return true;
                }
                else {
                    return false;
                }
            }
            else {
                return false;
            }
        });
    </script>
}
<div class="section">
    <div class="page-title">
        <div class="title-details">
            <h4>Change Password</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><span class="icon-home1"></span></li>
                    <li class="breadcrumb-item">Manage User</li>
                    <li class="breadcrumb-item active" aria-current="page">Change Passord</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="indicatorslist">
                        <p class="ml-2 text-danger">(*) Indicates mandatory </p>
                    </div>
                </div>
                <form asp-controller="Home" asp-action="ChangePassword" method="post">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input">New Password<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-6 col-xl-4">
                                <span class="colon">:</span>
                                <input id="txtPwd" type="password" asp-for="UserPasswaord" class="form-control" maxlength="50" autofocus>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input"></label>
                            <div class="col-12 col-md-6 col-xl-4">
                                <span class="colon"></span>
                                    ([Min 8 Char])
                                    (Password must contain one uppercase,lowercase char,one special char and one number)
                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input">Confirm Password<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-6 col-xl-4">
                                <span class="colon">:</span>
                                <input id="txtConPwd" autofocus maxlength="50" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input"> <span class="text-danger"></span></label>
                            <div class="col-12 col-md-6 col-xl-4">
                                <span class="colon"></span>
                                <input type="submit" id="btnSubmit" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@*<fieldset>
    <legend>Change Password</legend>
    <form asp-controller="Home" asp-action="ChangePassword" method="post">
        <table>

            <tr>
                <td style="font-size:medium;" class="tdStyle">
                    New Password
                </td>
                <td>
                    :<input type="password" id="txtPwd" asp-for="UserPasswaord" class="input is-four-fifths" autofocus maxlength="50" /> <span class="mandatory">*</span>([Min 8 Char])
                </td>
            </tr>
            <tr>
                <td style="font-size:medium;" class="tdStyle">
                </td>
                <td>
                    <span style="font-weight: bold; color: black"> (Password must contain one uppercase,lowercase char, </span>
                    <br />
                    <span style="font-weight: bold; color: black">one special char and one number)</span>
                </td>
            </tr>
            <tr>
                <td style="font-size:medium;" class="tdStyle">
                    Confirm Password
                </td>
                <td>
                    :<input type="password" id="txtConPwd" class="input is-four-fifths" autofocus maxlength="50" /> <span class="mandatory">*</span>
                </td>
            </tr>
            <tr>
                <td style="font-size:medium;" class="tdStyle">
                </td>
                <td>
                    <input type="submit" id="btnSubmit" class="btn btn-primary" />
                </td>
            </tr>


        </table>
    </form>
</fieldset>*@
