<div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title"> <i class="bi bi-plus-circle me-2"></i> Add Fund </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="card bglight-primary">
                        <div class="row mt-3">
                            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-12 mb-3 mb-xl-4 mb-lg-4 mb-md-4">
                                <label class="mb-1 fs-7 text-secondary">  Financial Year :  </label>
                                <div class="description">
                                    2023-24
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-12 mb-3 mb-xl-4 mb-lg-4 mb-md-4">
                                <label class="mb-1 fs-7 text-secondary">  Scheme :  </label>
                                <div class="description">
                                    MMKVY
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-12 mb-3 mb-xl-4 mb-lg-4 mb-md-4">
                                <label class="mb-1 fs-7 text-secondary">  Proposal Submitted By  :  </label>
                                <div class="description">
                                    Department
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-12 mb-3 mb-xl-4 mb-lg-4 mb-md-4">
                                <label class="mb-1 fs-7 text-secondary">  Proposer Name  :  </label>
                                <div class="description">
                                    24-Aug-2025
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-12 mb-3 mb-xl-4 mb-lg-4 mb-md-4">
                                <label class="mb-1 fs-7 text-secondary">  Allotment Amount :  </label>
                                <div class="description">
                                    ₹ 7,99,300
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-12 mb-3 mb-xl-4 mb-lg-4 mb-md-4">
                                <div class="d-flex gap-2">
                                    <div>  <i class="bi bi-file-earmark-pdf me-1 text-danger"> </i> </div>
                                    <div>
                                        <a href="#" class="description" data-bs-toggle="tooltip" data-bs-original-title="Download"> Download </a>
                                        <small class="text-secondary d-block"> 214 kb  </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-12">
                        <label> Add More Fund (₹) <span class="text-danger"> * </span></label>
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="modal-footer lg__btn  justify-content-start">
                    <button type="button" class="btn btn-light-danger me-3"> Reset </button>
                    <button type="button" class="btn btn-primary" id="subaddData"> Update </button>
                </div>

            </div>