  <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title"> <i class="bi bi-plus-circle me-2"></i> Add Allotment </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
                                <label> Financial Year <span class="text-danger"> * </span></label>
                                <div class="form-group">
                                    <select class="form-select">
                                        <option selected> Select </option>
                                        <option> 2025 </option>
                                        <option> 2024 </option>
                                        <option> 2023 </option>
                                        <option> 2022 </option>
                                        <option> 2021 </option>
                                        <option> 2020 </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
                                <label> Scheme <span class="text-danger"> * </span></label>
                                <div class="form-group">
                                    <select class="form-select">
                                        <option selected> Select </option>
                                        <option> Scheme </option>
                                        <option> Scheme </option>
                                        <option> Scheme </option>
                                        <option> Scheme </option>
                                        <option> Scheme </option>
                                        <option> Scheme </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
                                <label> Proposal Submitted By <span class="text-danger"> * </span></label>
                                <div class="form-group">
                                    <select class="form-select">
                                        <option selected> Select </option>
                                        <option> Proposal Submit </option>
                                        <option> Proposal Submit </option>
                                        <option> Proposal Submit </option>
                                        <option> Proposal Submit </option>
                                        <option> Proposal Submit </option>
                                        <option> Proposal Submit </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
                                <label> Proposer Name <span class="text-danger"> * </span></label>
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
                                <label> Allotment Amount (₹) <span class="text-danger"> * </span></label>
                                <div class="form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
                                <label> Upload Document <span class="text-danger"> * </span></label>
                                <div class="form-group">
                                    <div class="custom__fileupload">
                                        <input type="file" class="form-control">
                                        <label>  <span> Browse  </span> </label>
                                    </div>
                                    <small class="text-end text-danger mt-2 d-block w-100 fs-8">
                                        (.pdf only and max. file size upto
                                        10mb)
                                    </small>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer lg__btn  justify-content-start">
                    <button type="button" class="btn btn-light-danger me-3"> Reset </button>
                    <button type="button" class="btn btn-primary" id="subaddData"> Submit </button>
                </div>

            </div>