<div class="modal-content">
   <div class="modal-header">
      <h5 class="modal-title"> <i class="bi bi-plus-circle me-1"></i> Add Milestone/Sub-milestone </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
   </div>

   <div class="modal-body">

      <div class="row">
         <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12">
            <label> Project Name/ID </label>
            <div class="form-group">
               <input type="text" class="form-control" value="23144877128239">
            </div>
         </div>
      </div>


      <div class="card bglight-primary">
         <div class="text-secondary fs-7 mb-2"><i class="text-light-primary buidcoicon-calendar-day me-2"></i> 14-Jun-2024 </div>
         <h6 class="fw-500 mb-3"> Birchandra Patel smarak Mahavidhyalaya, Desari, Vaishali ka chahardiwari nirman. </h6>
         <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 border-right mb-2">
               <small class="text-secondary"> Construction Area (Sq. Mtr)</small>
               <p class="m-0"> 214.33 </p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 border-right mb-2">
               <small class="text-secondary"> Length (Mtr.) </small>
               <p class="m-0"> 214.33 </p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 border-right mb-2">
               <small class="text-secondary"> Estimated Amount </small>
               <p class="m-0"> ₹ 7,99,300  </p>
            </div>
         </div>
      </div>






      <div class="row mb-3">

      <div class="col-xl-8 col-lg-8 col-md-8 col-12 mb-4 mt-2">
                <label> Select Type </label>

            <div class="row">

               <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                  <div class="form-check">
                     <input class="form-check-input" type="radio" name="radio" id="mileStone" checked="">
                     <label for="mileStone" class=" m-0"> Milestone </label> 
                  </div>

               </div>
                  
               <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio" id="subMilestone">
                        <label for="subMilestone" class=" m-0"> Sub-Milestone </label> 
                     </div>
                     </div>

               </div>

             

         </div>

         <div class="col-xl-4 col-lg-4 col-md-4 col-12">
            <label> Milestone Name  <span class="text-danger"> * </span> </label>
            <div class="form-group">
               <select class="form-select">
                     <option> Select </option>
                      <option> Milestone </option>
                      <option> Milestone2 </option>
                      <option> Milestone3 </option>
               </select>
            </div>
         </div>


            
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
            <label> Sub-Milestone Name  <span class="text-danger"> * </span> </label>
            <div class="form-group">
               <select class="form-select">
                     <option> Select </option>
                      <option> Milestone </option>
                      <option> Milestone2 </option>
                      <option> Milestone3 </option>
               </select>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
            <label> Work (%)  <span class="text-danger"> * </span> </label>
            <div class="form-group">
               <input type="text" class="form-control">
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
            <label> Time required to complete (Days) <span class="text-danger"> * </span> </label>
            <div class="form-group">
               <input type="text" class="form-control">
            </div>
         </div>
         <div class="col-12 d-flex align-items-center justify-content-end gap-3">
            <div class="mt-1 flex-1">
               <hr>
            </div>
            <button type="button" class="btn btn-outline-primary"> <i class="bi bi-plus-circle me-2"></i> Add More  </button>
         </div>
      </div>
      
      <div class="row">
         <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12 mb-4 mt-3">
            <div class="table-responsive">
               <table class="table table-striped m-0">
                  <thead>
                     <tr>
                        <th width="30"> Sl# </th>
                        <th width="180"> Milestone Name </th>
                        <th width="150"> Work(%) </th>
                        <th width="150"> Time required to complete (Days) </th>
                        <th width="80"> Action </th>
                     </tr>
                  </thead>
                  <tbody>

                     <tr>
                        <td> 1 </td>
                        <td> Community Hall </td>
                        <td>  100 </td>
                        <td>  120 </td>
                        <td>
                           <div class="table__icon">
                           <a class="text-primary" href="#!" title="Edit" data-bs-toggle="tooltip">
                           <i class="buidcoicon-edit"></i>
                           </a>
                           <a href="#!" title="Delete" data-bs-toggle="tooltip">
                           <i class="buidcoicon-trash text-orange "></i>
                           </a>
                        </div>
                           </a>
                        </td>
                     </tr>


                     <tr>
                        <td> 2 </td>
                        <td> Handpump(Chapakal)  </td>
                        <td>  100 </td>
                        <td>  180 </td>
                        <td>
                           <div class="table__icon">
                           <a class="text-primary" href="#!" title="Edit" data-bs-toggle="tooltip">
                              <i class="buidcoicon-edit"></i>
                           </a>
                           <a href="#!" title="Delete" data-bs-toggle="tooltip">
                              <i class="buidcoicon-trash text-orange "></i>
                           </a>
                        </div>
                           </a>
                        </td>
                     </tr>

                     <tr>
                     
                        <td>  &nbsp; </td>

                        <td>  <span class="fw-600"> Total </span> </td>

                        <td> <span class="fw-600"> 200  </span> </td>

                        <td> <span class="fw-600"> 300 </span> </td>

                     </tr>
                     
                     
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <div class="modal-footer lg__btn  justify-content-start">
      <button type="button" class="btn btn-light-danger me-3"> Reset </button>
      <button type="button" class="btn btn-primary"> Submit </button>
   </div>
</div>