@{
ViewData["Title"] = "Milestone Details";
}
<div class="page-body">
   <!-- breadcrumb section -->
   <div class="d-flex align-items-center justify-content-between mb-4 flex-wrap gap-3">
      <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Dashboard/DashboardLanding" title="Home"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item"><a href="#" title="Tender"> Tender </a></li>
            <li class="breadcrumb-item active" title="Milestone/Sub-milestone" aria-current="page"> Milestone/Sub-milestone </li>
         </ul>

      </nav>
      <div class="col-right">
         <button type="button" class="btn btn-outline-success btn-sm" title="Excel" data-bs-toggle="tooltip">
         <i class="buidcoicon-excel"></i>
         </button>
         <button type="button" class="btn btn-outline-primary btn-sm" title="Print Preview"
            data-bs-toggle="tooltip">
         <i class="bi bi-printer"></i>
         </button>
      </div>
   </div>
   <!-- breadcrumb section -->
   <!-- inner body section -->
   <div class="body__content">
      <div class="body__bg">
         <div class="card table__body__text">
            <div class="card-body">
               <div class="row">
                  <div class="col-xl-8 col-lg-8 col-md-12 col-12">
                     <h5 class="fw-600 mb-3"> Project Details  </h5>
                     <div class="mb-1"> 
                        <a href="#" class="fw-600 text-primary">
                        23144877128239
                        </a>
                     </div>
                     <p>
                        Sheohar Prakhand ke mathurapur kahtarawa panchayat antragat gram basahiya ram ward no
                        16 se sate chiknauta mauja me bal sundar nadi ke tat par shesh 70 feet sidhi ghat ka
                        nirman
                     </p>
                     <div class="row">
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
                           <div class="form-group border-right">
                              <small class="mb-1 text-secondary">  Construction Area (Sq. Mtr)  </small>
                              <div class="description">
                                 214.23
                              </div>
                           </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
                           <div class="form-group border-right">
                              <small class="mb-1 text-secondary">  Length (Mtr.):  </small>
                              <div class="description">
                                 152.2
                              </div>
                           </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
                           <div class="form-group">
                              <small class="mb-1 text-secondary">  Estimated Amount </small>
                              <div class="description">
                                 ₹ 7,99,300
                              </div>
                           </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
                           <div class="form-group border-right">
                              <small class="mb-1 text-secondary">  Project Duration </small>
                              <div class="description">
                                 8 Months
                              </div>
                           </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
                           <div class="form-group border-right">
                              <small class="mb-1 text-secondary">  Start Date </small>
                              <div class="description">
                                 25-Oct-2024
                              </div>
                           </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
                           <div class="form-group">
                              <small class="mb-1 text-secondary">  End Date </small>
                              <div class="description">
                                 20-Dec-2024
                              </div>
                           </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
                           <div class="form-group">
                              <div class="d-flex gap-2">
                                 <div>  <i class="bi bi-file-earmark-pdf me-1 text-danger"> </i> </div>
                                 <div>
                                    <a href="#" class="description" data-bs-toggle="tooltip" data-bs-original-title="Download"> Letter Document </a>
                                    <small class="text-secondary d-block"> 214 kb  </small>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-12 border-left ps-xl-4 ps-lg-4 ps-md-4">

                    <div class="row"> 

                     <div class="col-xl-12 col-lg-12 col-md-12 col-12 border-bottom pb-4 mb-4">
                        <h5 class="fw-600 mb-3"> Letter Details  </h5>
                        <div class="d-block">
                           <div class="badge bg-yellow fw-600">
                              <span class="text-secondary fw-normal"> Letter No : </span> 212/13
                           </div>
                        </div>
                        <div class="row mt-2">
                           <div class="col-xl-6 col-md-6 col-6 border-end">
                              <small class="text-secondary"> Submitted By: </small>
                              <p class="m-0"> MLA </p>
                           </div>
                           <div class="col-xl-6 col-md-6 col-6 ps-4">
                              <small class="text-secondary"> Proposed By: </small>
                              <p class="m-0"> MD FAROOQ </p>
                           </div>
                        </div>
                     </div>

                     <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <h5 class="fw-600 mb-3"> Tender Details  </h5>
                        <div class="d-block">
                           <div class="badge bg-yellow fw-600">
                              <span class="text-secondary fw-normal"> Letter No : </span> 212/13
                           </div>
                        </div>
                        <div class="row mt-2 mb-2">
                           <div class="col-xl-6 col-md-6 col-6 border-end">
                              <small class="text-secondary"> Opening: </small>
                              <p class="m-0"> MLA </p>
                           </div>
                           <div class="col-xl-6 col-md-6 col-6 ps-4">
                              <small class="text-secondary"> Last Submission: </small>
                              <p class="m-0"> MD FAROOQ </p>
                           </div>
                        </div>
                        <div class="d-flex gap-2">
                           <div>  <i class="bi bi-file-earmark-pdf me-1 text-danger"> </i> </div>
                           <div>
                              <a href="#" class="description" data-bs-toggle="tooltip" data-bs-original-title="Download">  NIT Document </a>
                              <small class="text-secondary d-block"> 200 kb  </small>
                           </div>
                        </div>
                     </div>

                    </div>

                  </div>
               </div>
            </div>
         </div>

         <!-- final detail report -->
         <div class="row table__body__text">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12 mb-3">
               <h5 class="fw-600 mb-3 mt-3"> Milestones (2)  </h5>
                <div class="table-responsive">
                        <table class="table table-striped m-0">
                            <thead>
                                <tr>
                                    <th width="30"> Sl# </th>
                                    <th width="180"> Milestone Name </th>
                                    <th width="150"> Work(%) </th>
                                    <th width="150"> Time required to complete (Days) </th>
                                    <th width="80"> Action </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td> 1 </td>
                                    <td> Community Hall </td>
                                    <td>  100 </td>
                                    <td>  120 </td>
                                    <td>
                                    <div class="table__icon">
                                    <a class="text-primary" href="#!" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit">
                                    <i class="buidcoicon-edit"></i>
                                    </a>
                                    <a href="#!" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete">
                                    <i class="bi bi-trash text-orange"></i>
                                    </a>
                                    </div>
                                    
                                    </td>
                                </tr>


                                <tr>
                                    <td> 2 </td>
                                    <td> Handpump(Chapakal)  </td>
                                    <td>  100 </td>
                                    <td>  180 </td>
                                    <td>
                                    <div class="table__icon">
                                    <a class="text-primary" href="#!" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit">
                                        <i class="buidcoicon-edit"></i>
                                    </a>
                                    <a href="#!" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete">
                                        <i class="bi bi-trash text-orange"></i>
                                    </a>
                                    </div>
                                    
                                    </td>
                                </tr>

                                <tr>
                                
                                    <td>  &nbsp; </td>

                                    <td>  <span class="fw-600"> Total </span> </td>

                                    <td> <span class="fw-600"> 200  </span> </td>

                                    <td> <span class="fw-600"> 300 </span> </td>
                                    <td>  &nbsp; </td>
                                    

                                </tr>
                                
                                
                            </tbody>
                        </table>
                </div>
            </div>

             <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12">
               <h5 class="fw-600 mb-3 mt-3"> Sub-Milestones (2)  </h5>
                <div class="table-responsive">
                        <table class="table table-striped m-0">
                            <thead>
                                <tr>
                                    <th width="30"> Sl# </th>
                                    <th width="180"> Sub-Milestone Name </th>
                                    <th width="150"> Work(%) </th>
                                    <th width="150"> Time required to complete (Days) </th>
                                    <th width="80"> Action </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td> 1 </td>
                                    <td> PCC and Brick Soiling </td>
                                    <td>  100 </td>
                                    <td>  120 </td>
                                    <td>
                                    <div class="table__icon">
                                    <a class="text-primary" href="#!" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit">
                                    <i class="buidcoicon-edit"></i>
                                    </a>
                                    <a href="#!" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete">
                                    <i class="bi bi-trash text-orange"></i>
                                    </a>
                                    </div>
                                    
                                    </td>
                                </tr>


                                <tr>
                                    <td> 2 </td>
                                    <td> PCC Road   </td>
                                    <td>  150 </td>
                                    <td>  220 </td>
                                    <td>
                                    <div class="table__icon">
                                    <a class="text-primary" href="#!" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit">
                                        <i class="buidcoicon-edit"></i>
                                    </a>
                                    <a href="#!" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete">
                                        <i class="bi bi-trash text-orange"></i>
                                    </a>
                                    </div>
                                    
                                    </td>
                                </tr>

                                <tr>
                                
                                    <td>  &nbsp; </td>

                                    <td>  <span class="fw-600"> Total </span> </td>

                                    <td> <span class="fw-600"> 200  </span> </td>

                                    <td> <span class="fw-600"> 300 </span> </td>
                                    <td>  &nbsp; </td>
                                    

                                </tr>
                                
                                
                            </tbody>
                        </table>
                </div>
            </div>

         </div>
         <!-- final detail report -->
      </div>
   </div>
   <!-- inner body section -->
</div>