@{
    ViewData["Title"] = "Dashboard";
}
<div class="page-body">
    <!-- breadcrumb section -->
    <div class="d-flex align-items-center justify-content-between mb-4 flex-wrap gap-3">

        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" title="Home"><i class="bi bi-house"></i></a></li>
                <li class="breadcrumb-item active" title="Dashboard" aria-current="page"> Dashboard </li>
            </ul>
        </nav>




        <div class="col-right">

            <button type="button" class="btn btn-outline-primary btn-sm" title="Print Preview"
                    data-bs-toggle="tooltip">
                <i class="bi bi-printer"></i>
            </button>
        </div>
    </div>
    <!-- breadcrumb section -->
    <!-- inner body section -->
    <div class="body__content">

        dashboard page coming soon.....

    </div>
    <!-- inner body section -->

</div>