<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UI</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/AdminConsole/admlib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/AdminConsole/admlib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>

    <link rel="stylesheet" href="~/AdminConsole/admcss/site.css" />
    <link rel="stylesheet" href="~/AdminConsole/admcss/font-awesome.min.css" />
    @*<script src="https://use.fontawesome.com/1c4e781f70.js"></script>*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Admin Console</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>                        
                    </ul>
                </div>*@  
                
                </div>
        </nav>
    </header>
    <div class="content-container">

        <div id="jquery-accordion-menu" class="jquery-accordion-menu col-lg-2 white">
            @*<div class="jquery-accordion-menu-header">Header </div>*@
            <ul>
                <li>
                    <a href="#"><i class="fa fa-suitcase"></i>Function Master </a>
                    <ul class="submenu">
                        <li><a asp-controller="FunctionMaster" asp-action="AddFunctionMaster">Create Function </a></li>
                        <li><a asp-controller="FunctionMaster" asp-action="ViewFunctionMasterActive">View Active Functions</a></li>
                        <li><a asp-controller="FunctionMaster" asp-action="ViewFunctionMasterInActive">View Inactive Functions </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-glass"></i>Global Link </a>
                    <ul class="submenu">
                        <li><a asp-controller="GlobalLink" asp-action="AddGlobalLink">Create Global Link </a></li>
                        <li><a asp-controller="GlobalLink" asp-action="ViewGlobalLinkActive">View Active Global Link</a></li>
                        <li><a asp-controller="GlobalLink" asp-action="ViewGlobalLinkInActive">View Inactive Global Link </a></li>
                    </ul>
                </li>
                @*<li><a href="#"><i class="fa fa-file-image-o"></i>Primary Link </a><span class="jquery-accordion-menu-label">12 </span></li>*@
                <li>
                    <a href="#"><i class="fa fa-file-image-o"></i>Primary Link </a>
                    <ul class="submenu">
                        <li><a asp-controller="PrimaryLink" asp-action="AddPrimaryLink">Create Primary Link </a></li>
                        <li><a asp-controller="PrimaryLink" asp-action="ViewActivePrimaryLink">View Active Primary Link</a></li>
                        <li><a asp-controller="PrimaryLink" asp-action="ViewInActivePrimaryLink">View Inactive Primary Link </a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-newspaper-o"></i>Button </a></li>

                <li><a href="#"><i class="fa fa-user"></i>Tab </a></li>
                <li>
                    <a href="#"><i class="fa fa-suitcase"></i>User </a>
                    <ul class="submenu">
                        @*<li><a href="#">Create User </a></li>*@
                        <li><a asp-controller="User" asp-action="AddUser">Create Users</a></li>
                        @*<li><a href="#">View Users </a><span class="jquery-accordion-menu-label">10 </span></li>*@
                        <li><a asp-controller="User" asp-action="UserProfile" asp-area="Console">View Users</a></li>
                        <li><a asp-controller="User" asp-action="SetPermission" asp-area="Console">Set Permission </a></li>
                        <li><a asp-controller="AssignLink" asp-action="AssignLink" asp-area="Console">Assign Link </a></li>
                        <li><a asp-controller="User" asp-action="AssignAdmin" asp-area="Console">Assign Admin </a></li>
                    </ul>
                </li>
            </ul>
            @*<div class="jquery-accordion-menu-footer">Footer </div>*@
        </div>
        <main role="main" class="main-content">
            @RenderBody()



        </main>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - UI - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    </div>



    <environment include="Development">
        <script src="~/AdminConsole/admlib/jquery/dist/jquery.js"></script>
        <script src="~/AdminConsole/admlib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/AdminConsole/admlib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/AdminConsole/admlib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/AdminConsole/admjs/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
